<div class="w-full max-w-1/3 bg-transparent border border-ibb-border-grey rounded-lg shadow-lg p-5 mb-5">

  <p class="text-pure-white text-2xl font-semibold">Add Education</p>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form>
      <!-- university name and degree type -->
      <div class="flex items-center justify-between">
        <div class="mb-6 mx-1">
          <label for="universityName" class="block mb-2 text-sm font-medium text-ibb-white">University name</label>
          <input [(ngModel)]="model.universityName" type="text" id="universityName" name="universityName" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="University name..." required>
        </div>

        <div class="mb-6 mx-1">
          <label for="degreeType" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Degree type</label>
          <input [(ngModel)]="model.degreeType" type="text" id="degreeType" name="degreeType" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Degree type (BA, MS, etc.)..." required>
        </div>
      </div>
      <!-- End university name and degree type -->

      <!-- Major name and graduation year -->
      <div class="flex items-center justify-between">
        <div class="mb-6 mx-1">
          <label for="majorName" class="block mb-2 text-sm font-medium text-ibb-white">Major name</label>
          <input [(ngModel)]="model.majorName" type="text" id="majorName" name="majorName" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Major name..." required>
        </div>

        <div class="mb-6 mx-1">
          <label for="graduationYear" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Graduation year</label>
          <input [(ngModel)]="model.graduationYear" type="text" id="graduationYear" name="graduationYear" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Enter year (YYYY)..." required>
        </div>
      </div>
      <!-- End Major name and graduation year -->

      <!-- Job description -->
      <div class="mb-6">
        <label for="description" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Description</label>
        <textarea [(ngModel)]="model.description" id="description" name="description" rows="4" class="bg-ibb-button-grey block p-2.5 w-full text-sm text-ibb-white rounded-lg border border-ibb-border-grey focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover" placeholder="Description (notable coursework, accomplishments, etc.)..."></textarea>
      </div>

      <div class="flex items-center justify-between">
        <button (click)="onSubmit()" type="submit" class="text-white bg-ibb-dark-green hover:bg-ibb-darker-green focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-1">Add education</button>
        <button (click)="clear()" type="submit" class="text-white bg-ibb-light-red hover:bg-ibb-dark-red focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-1">Clear</button>
      </div>
    </form>
  </div>

</div>
