<div class="bg-transparent mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6 min-h-screen">
  <div class="grid grid-cols-2 gap-10 bg-transparent mb-5">
    <app-work-experience></app-work-experience>
    <app-add-work-experience></app-add-work-experience>
  </div>
  <div class="fixed bottom-14 left-0 h-16 w-max mt-5">
    <button routerLink="/user/profile" class="text-white bg-transparent border border-ibb-border-grey hover:bg-ibb-border-grey focus:ring-2 focus:outline-none focus:ring-ibb-border-grey font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-1"><< Back to Profile</button>
  </div>
</div>
