<div class="bg-transparent mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6 min-h-screen">

  <div class="grid grid-cols-2 gap-10 bg-transparent">

    <div> <!-- Left column, profile card/skills/education -->
      <app-user-profile-card></app-user-profile-card>
      <app-skills></app-skills>
      <app-education></app-education>
    </div> <!-- End left column, profile/skills/edu -->

    <div> <!-- Right column, work experience -->
      <app-work-experience></app-work-experience>
    </div>

  </div>

</div>
