<div class="bg-transparent border border-ibb-border-grey absolute mt-5 m-auto left-0 right-0 shadow-lg items-center justify-center w-6/12 p-5">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-pure-white">Add Education</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form>
      <!-- Company name and job title -->
      <div class="flex items-center justify-between">
        <div class="mb-6">
          <label for="universityName" class="block mb-2 text-sm font-medium text-ibb-white">University name</label>
          <input [(ngModel)]="model.universityName" type="text" id="universityName" name="universityName" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="University name..." required>
        </div>

        <div class="mb-6">
          <label for="degreeType" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Degree type</label>
          <input [(ngModel)]="model.degreeType" type="text" id="degreeType" name="degreeType" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Degree type (BA, MS, etc.)..." required>
        </div>
      </div>
      <!-- End company name and job title -->

      <!-- Major name and graduation year -->
      <div class="flex items-center justify-between">
        <div class="mb-6">
          <label for="majorName" class="block mb-2 text-sm font-medium text-ibb-white">Major name</label>
          <input [(ngModel)]="model.majorName" type="text" id="majorName" name="majorName" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Major name..." required>
        </div>

        <div class="mb-6">
          <label for="graduationYear" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Graduation year</label>
          <input [(ngModel)]="model.graduationYear" type="text" id="graduationYear" name="graduationYear" class="shadow-sm bg-ibb-button-grey border border-ibb-border-grey text-ibb-white text-sm rounded-lg focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover block w-full p-2.5" placeholder="Enter year (YYYY)..." required>
        </div>
      </div>
      <!-- End Major name and graduation year -->

      <!-- Job description -->
      <div class="mb-6">
        <label for="description" class="block mb-2 text-sm font-medium text-ibb-white dark:text-white">Description</label>
        <textarea [(ngModel)]="model.description" id="description" name="description" rows="4" class="bg-ibb-button-grey block p-2.5 w-full text-sm text-ibb-white rounded-lg border border-ibb-border-grey focus:ring-ibb-button-green-hover focus:border-ibb-button-green-hover" placeholder="Description (notable coursework, accomplishments, etc.)..."></textarea>
      </div>

      <div class="flex items-center justify-between">
        <button (click)="onSubmit()" type="submit" class="text-white bg-ibb-dark-green hover:bg-ibb-darker-green focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add education</button>
        <button (click)="cancelSubmit()" type="submit" class="text-white bg-ibb-light-red hover:bg-ibb-dark-red focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</button>
      </div>
    </form>
  </div>
</div>
