@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-link: 'https://tailwindui.com/img/logos/mark.svg?color=green&shade=400'
}

.drag-wrapper {
  padding: 4px 0;
}

.drag-wrapper.dragging {
  opacity: 0.5;
}
