<div class="bg-ibb-light-black absolute mt-10 m-auto left-0 right-0 shadow-lg items-center justify-center w-3/12 p-5">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=green&shade=400" alt="Your Company">
    <h2 class="mt-5 mb-5 text-center text-2xl font-bold leading-9 tracking-tight text-ibb-white">Welcome, {{this.user.firstName}}!</h2>

    <div class="items-center justify-center flex">

      <div *ngIf="!user.userType">
        <button (click)="setUserType('jobSeeker')" class="bg-ibb-button-grey text-ibb-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Job Seeker</button>
        <button (click)="setUserType('recruiter')" class="bg-ibb-button-grey text-ibb-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Recruiter</button>
      </div>

      <div *ngIf="user.userType == 'jobSeeker'">
        <button routerLink="/user/profile" class="bg-ibb-button-grey text-ibb-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Your Profile</button>
        <button routerLink="/applications" class="bg-ibb-button-grey text-ibb-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Your Applications</button>
      </div>

      <div *ngIf="user.userType == 'recruiter'">

      </div>
    </div>

  </div>
</div>
