<div class="bg-transparent mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6 h-screen">

  <div class="grid grid-cols-2 gap-10 bg-transparent">

    <div> <!-- Left column, profile card/skills/education -->
      <!-- Profile Card -->
      <div class="w-full max-w-1/3 bg-transparent border border-ibb-border-grey rounded-lg shadow-lg p-5 mb-5">
        <div class="flex flex-col items-center p-5">
          <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{this.user.userPicture}}" alt="{{this.user.name}}"/>
          <h5 class="mb-1 text-xl font-medium text-pure-white">{{this.user.name}}</h5>
          <span class="text-sm text-ibb-white">{{this.user.title}}</span>
          <div class="flex mt-4 space-x-3 md:mt-6">
            <button routerLink="/dashboard" class="bg-transparent border border-ibb-white text-sm font-medium text-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Add friend</button>
            <button routerLink="/dashboard" class="bg-transparent border border-ibb-white text-sm font-medium text-ibb-white hover:bg-ibb-dark-green rounded-md p-2 my-2 mx-2">Message</button>
          </div>
        </div>
      </div> <!-- End Profile Card -->



      <!-- Skills Card -->
      <div class="w-full max-w-1/3 bg-transparent border border-ibb-border-grey rounded-lg shadow-lg p-5 mb-5">

        <!-- Skills card header -->
        <div class="flex items-center justify-between pb-5">
          <p class="text-pure-white text-2xl font-semibold">Skills</p>
          <button data-modal-target="addSkillModal" data-modal-toggle="addSkillModal" class="bg-transparent border border-ibb-white text-sm font-medium text-ibb-white hover:bg-ibb-dark-green rounded-md px-2 py-1">
            <i class="fa-light fa-plus"></i>
          </button>
        </div>

        <!-- Skills container -->
        <div class="grid grid-cols-5 gap-x-2 gap-y-2">
          <span *ngFor="let skill of skills" class="bg-transparent border border-ibb-white text-sm font-medium text-ibb-white hover:bg-ibb-dark-green rounded-md p-2">{{skill.skillName}}</span>
        </div>

      </div> <!-- End Skills Card -->

      <!-- Education card -->
      <div class="w-full max-w-1/3 bg-transparent border border-ibb-border-grey rounded-lg shadow-lg p-5 mb-5">
        <div class="flex items-center justify-between pb-5">
          <p class="text-pure-white text-2xl font-semibold">Education</p>
          <button routerLink="/add-education" class="bg-transparent border border-ibb-white text-sm font-medium text-ibb-white hover:bg-ibb-dark-green rounded-md px-2 py-1">
            <i class="fa-light fa-plus"></i>
          </button>
        </div>

        <div *ngFor="let edu of education" class="flex-col items-start pb-3">
          <h5 class="mb-1 text-xl font-medium text-ibb-white">{{edu.universityName}}</h5>
          <div class="flex items-center justify-between">
            <span class="text-sm text-ibb-white">{{edu.majorName}}, {{edu.degreeType}}</span>
            <span class="text-sm text-ibb-white">{{edu.graduationYear}}</span>
          </div>
          <span class="text-xs text-ibb-white">{{edu.description}}</span>
        </div>

      </div> <!-- End education card -->
    </div> <!-- End left column, profile/skills -->

    <div> <!-- Right column, work experience -->

      <!-- Work Experience card -->
      <div class="w-full max-w-1/3 bg-transparent border border-ibb-border-grey rounded-lg shadow-lg p-5 mb-5">
        <div class="flex items-center justify-between pb-5">
          <p class="text-pure-white text-2xl font-semibold">Work Experience</p>
          <button routerLink="/add-work-experience" class="bg-transparent border border-ibb-white text-sm font-medium text-ibb-white hover:bg-ibb-dark-green rounded-md px-2 py-1">
            <i class="fa-light fa-plus"></i>
          </button>
        </div>

        <div *ngFor="let work of workExperience" class="flex-col items-start pb-3">
          <h5 class="mb-1 text-xl font-medium text-ibb-white">{{work.companyName}}</h5>
          <div class="flex items-center justify-between">
            <span class="text-sm text-ibb-white">{{work.jobTitle}}</span>
            <span class="text-sm text-ibb-white">{{work.startDate}} - {{work.endDate}}</span>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm text-ibb-white">{{work.location}}</span>
            <span class="text-sm text-ibb-white">{{work.length}}</span>
          </div>
          <span class="text-xs text-ibb-white">{{work.description}}</span>
        </div>

      </div> <!-- End work Experiencee card -->

    </div>
  </div>
</div>

